.display-pokemons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

// TODO not working
mat-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container {
  justify-items: normal !important;
}

app-pokemon {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

  .selected-card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}





