<ng-container *ngIf="pokemonsToDisplay.length">

  <form class="example-form">
      <input type="text" matInput [formControl]="searchFormControl" (keydown.enter)="avoidEnter($event)" placeholder="Search pokemon">
  </form>

  <div class="display-pokemons">
    <ng-container *ngFor="let pokemon of pokemonsToDisplay; let i = index">
      <app-pokemon
        (click)="selectItem(pokemon, i)"
        [ngClass]="{ 'selected-card' : selectedCardId === i }"
        (favoritePokemonName)="handleFavorites($event)"
        [pokemon]="pokemon"
      ></app-pokemon>
    </ng-container>
  </div>

  <mat-paginator *ngIf="pokemonsToDisplay.length > 1"
    (page)="setPagination($event)"
    [length]="tempTotalNumber"
    [pageSize]="pageSize"
    aria-label="Select page">
  </mat-paginator>
</ng-container>



