<ng-container>
  <div *ngIf="pokemonsToDisplay.length" class="display-pokemons">
    <ng-container *ngFor="let pokemon of pokemonsToDisplay, let i=index">
      <app-pokemon
        [ngClass]="{ 'selected-card' : selectedCard }"
        (favoritePokemonName)="handleFavorites($event)"
        [pokemon]="pokemon"
      ></app-pokemon>
    </ng-container>
  </div>

  <mat-paginator
    (page)="setPagination($event)"
    [length]="tempTotalNumber"
    [pageSize]="pageSize"
    aria-label="Select page">
  </mat-paginator>
</ng-container>



