@import "variables";

mat-paginator.mat-mdc-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container {
  .mat-mdc-paginator-page-size {
    display: none !important;
  }
}

app-pokemons-page mat-card-actions, app-pokemon-detail mat-card-actions {
  margin-right: $regular-space;
  display: flex;
  justify-content: flex-end;
  color: $app-grey;

  &:hover, &:focus, &:focus-visible {
    color: $app-grey-darken;
  }
}


